<!--
  ~
  ~     Copyright (C) 2022 Dynamic Solutions
  ~
  ~     Licensed under the Apache License, Version 2.0 (the "License");
  ~     you may not use this file except in compliance with the License.
  ~     You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~     Unless required by applicable law or agreed to in writing, software
  ~     distributed under the License is distributed on an "AS IS" BASIS,
  ~     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~     See the License for the specific language governing permissions and
  ~     limitations under the License.
  ~
  -->

<settings
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <activeProfiles>
    <activeProfile>websight-maven-repo</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <id>websight-maven-repo</id>
      <repositories>
        <repository>
          <id>websight-maven-repo</id>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>
            https://websight-${env.AWS_ACCOUNT_ID}.d.codeartifact.eu-central-1.amazonaws.com/maven/maven-repo/
          </url>
        </repository>
        <repository>
          <id>websight-internal-maven-snapshot-repo</id>
          <url>
            https://websight-internal-${env.AWS_ACCOUNT_ID}.d.codeartifact.eu-central-1.amazonaws.com/maven/maven-snapshot-repo/
          </url>
        </repository>
        <repository>
          <id>maven repo</id>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>https://repo1.maven.org/maven2/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>websight-maven-repo</id>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
      <username>aws</username>
    </server>
    <server>
      <id>websight-internal-maven-snapshot-repo</id>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
      <username>aws</username>
    </server>
  </servers>

</settings>