<sly data-sly-use.model="pl.ds.bulma.components.models.TabsComponent">
  <div class="tabs ${model.tabClasses @ join=' '}">
    <div style="padding-top: 20px; padding-bottom: 20px;" data-sly-unwrap="${!wcmmode.isEdit}">
      <ul>
        <sly data-sly-list.item="${model.tabs}">
          <li class="${itemList.first ? 'is-active' : ''}">
            <a>
              <sly data-sly-test="${item.icon}">
                <span class="icon is-small"><i class="${item.icon}" aria-hidden="true"></i></span>
              </sly>
              <span>${item.label}</span>
            </a>
          </li>
        </sly>
      </ul>
    </div>
  </div>
</sly>