<sly data-sly-use.model="pl.ds.bulma.components.models.menu.MenuComponent">
  <aside class="menu">
    <sly data-sly-list.element="${model.menuSections}">
      <p class="menu-label">
        ${element.label}
      </p>
      <ul class="menu-list">
        <sly data-sly-list.link="${element.menuListItemComponentList}">
          <li>
            <a href="${link.url}">
              ${link.text}
            </a>
            <sly data-sly-test="${link.secondLevelItems}">
              <ul>
                <sly data-sly-list.secondLevel="${link.secondLevelItems}">
                  <li>
                    <a href="${secondLevel.url}">
                      ${secondLevel.text}
                    </a>
                  </li>
                </sly>
              </ul>
          </li>
        </sly>
      </ul>
    </sly>
    <sly data-sly-test="${!model.menuSections}">
      <li>
        <a href="#">
          <span>Test</span>
        </a>
      </li>
    </sly>
  </aside>
</sly>