<sly data-sly-use.model="pl.ds.bulma.components.models.MessageComponent">
    <article class="message ${model.messageClasses @ join=' '}">
        <sly data-sly-test="${model.showHeader}">
            <div class="message-header">
                <p>${model.header}</p>
                <sly data-sly-test="${model.showButton}">
                    <button class="delete" aria-label="delete"></button>
                </sly>
            </div>
        </sly>
        <div class="message-body">
            ${model.content @ context='html'}
        </div>
    </article>
</sly>