<sly data-sly-use.model="pl.ds.bulma.components.models.level.LevelItemComponent">
  <div data-sly-unwrap="${!wcmmode.isEdit}" class="level-item ${model.levelItemStyle}" style="min-width: 125px; min-height: 50px">
    <sly data-sly-test="${resource.hasChildren}">
      <div data-sly-element=${model.elementType} class="level-item ${model.levelItemStyle}">
        <sly
            data-sly-include="${'parsys.html' @ prependPath='/libs/wcm/foundation/components/parsys'}"></sly>
      </div>
    </sly>
  </div>
</sly>